@import "tailwindcss";

@theme {
  --color-primary: #409eff;
  --color-primary-50: #ecf5ff;
  --color-primary-100: #d9ecff;
  --color-primary-200: #c6e2ff;
  --color-primary-300: #8cc5ff;
  --color-primary-400: #66b1ff;
  --color-primary-500: #409eff;
  --color-primary-600: #337ecc;
  --color-primary-700: #2966a3;
  --color-primary-800: #1f4c7a;
  --color-primary-900: #143352;
}

body {
  background-color: #f3f4f6;
  min-height: 100vh;
}
